*.class
*.jar

/target/
/build/

.idea/
*.iml

*.log
/target/test-classes/
/target/surefire-reports/

*.tmp
*.swp

.m2/
.gradle/

.settings/

*.editorconfig

.project
.classpath

*.txt
*.xmi
.xdp-TaskManagementSystemDiagrams.xmi.part-t5Cq2u